.mvn/**
mvnw**
.idea/**

.idea/
*.iml
*.iws
*.ipr

**/target/**
**/.settings/**
**/.project/**
**/.project
**/.classpath
**/.factorypath

Thumbs.db
.DS_Store

target
ddd-sample-exposition/src/main/resources/public/
